<!DOCTYPE html>
<html>

<head>
    <title>Phonedation | Cart</title>
    <style th:replace="customer/share/style"></style>

</head>

<body>

    <body>
        <div th:replace="customer/share/header"></div><br><br>
        <!--================Cart Area =================-->
        <!-- Shopping Cart Section Begin -->
        <section class="shopping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_tittle text-center ">
                            <h2>
                                Halaman Cart
                            </h2>
                        </div>
                        <div class="cart-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th class="p-name">Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Hapus</i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cart: ${carts}">
                                        <td class="cart-pic first-row"><img th:src="@{${'/img/' + cart.product.image}}"
                                                alt="image product"></td>
                                        <td class="cart-title first-row">
                                            <h5 th:text="${cart.product.model}">Pure Pineapple</h5>
                                        </td>
                                        <td class="p-price first-row" th:text="${cart.product.price}">$60.00</td>
                                        <td class="qua-col first-row">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" th:value="${cart.quantity}">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total-price first-row"
                                            th:text="${cart.product.price * cart.quantity}">$60.00</td>
                                        <td class="close-td first-row"><i class="ti-close"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="cart-buttons">
                                    <a th:href="@{/}" class="btn_1 continue-shop">Continue shopping</a>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-4">
                                <div class="proceed-checkout">
                                    <a th:href="@{/checkout}" class="btn_3 proceed-btn">PROCEED TO CHECK OUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shopping Cart Section End -->


        <div th:replace="customer/share/footer"></div>
        <div th:fragment="script"></div>
        <div th:replace="customer/share/script"></div>
    </body>

</html>