<!DOCTYPE html>
<html>

<head>
	<title>Phonedation | Profile</title>
	<style th:replace="customer/share/style"></style>
</head>

<body>

	<body>
		<div th:replace="customer/share/header"></div>
		<!--================Category Product Area =================-->
		<section class="cat_product_area section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="left_sidebar_area">
							<aside class="left_widgets p_filter_widgets">
								<div th:replace="customer/share/left_side_profile"></div>
							</aside>

						</div>
					</div>
					<div class="col-lg-9" th:object="${form}">
						<div class="container">
							<div class="billing_details">
								<div class="row">
									<div class="col-lg-8">
										<h3>Your's Profile</h3>
										<form class="row contact_form" role="form" th:object="${form}" method="post"
											th:action="@{/profile/update}">
											<div class="col-md-12 form-group">
												Join Date
												<input class="form-control" id="datejoined" type="text" th:field="*{dateJoined}" disabled>
											</div>
											<div class="col-md-12 form-group">
												Full Name
												<input class="form-control" id="fullname" type="text" th:field="*{fullname}" disabled>
											</div>
											<div class="col-md-12 form-group">
												E-mail
												<input class="form-control" id="email" type="email" th:field="*{email}" disabled>
											</div>


										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Category Product Area =================-->
		<div th:replace="customer/share/footer"></div>
		<div th:fragment="script"></div>
		<div th:replace="customer/share/script"></div>
	</body>

</html>