<!DOCTYPE html>
<html>

<head>
  <title>Phonedation | Order</title>
  <style th:replace="customer/share/style"></style>

</head>

<body>

  <body>
    <div th:replace="customer/share/header"></div><br><br>
    <!--================Cart Area =================-->
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div th:replace="customer/share/left_side_profile"></div>
              </aside>

            </div>
          </div>
          <div class="col-lg-9">
            <div class="cart-table">
              <table>
                <thead>
                  <tr>
                    <th>ID Order</th>
                    <th>Tanggal Order</th>
                    <th>Total Harga</th>
                    <th>Status</th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="order: ${orders}">
                    <td class="cart-pic first-row" th:text="${order.id}">1</td>
                    <td class="cart-pic first-row" th:text="${order.createdOrder}">2020-09-09 06:45:44</td>
                    <td class="p-price first-row" th:text="${order.totalPrice}">$60.00</td>
                    <td class="cart-pic first-row" th:text="${order.status}">Proses</td>
                    <td class="close-td first-row">
                      <a th:href="@{/profile/detail/{id}(id=${order.id})}" class="btn_3">Order Detail</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shopping Cart Section End -->


    <div th:replace="customer/share/footer"></div>
    <div th:fragment="script"></div>
    <div th:replace="customer/share/script"></div>