<!DOCTYPE html>
<html>

<head>
  <title>Phonedation | Checkout</title>
  <style th:replace="customer/share/style"></style>
</head>

<body>

  <body>
    <div th:replace="customer/share/header"></div>
    <!--================Checkout Area =================-->
    <section class="checkout_area padding_top" th:object="${session.USER}">
      <div class="container">
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Alamat Tujuan:</h3>
              <form class="row contact_form">
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="add1" name="add1" th:value="*{address.address}" />
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="number" name="number" value="No Telp"
                    th:value="*{address.phoneNumber}" />
                </div>
                <div class="col-md-6 form-group p_star">
                  <input type="text" class="form-control" id="email" name="nama penerima" value="Nama Penerima"
                    th:value="*{address.receiverName}" />
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="add2" name="kodePos"
                    th:value="*{address.postalCode.postalCode}" />
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="kecamatan" name="Kecamatan"
                    th:value="*{address.postalCode.district}" />
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="" name="Kelurahan"
                    th:value="*{address.postalCode.urban}" />
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="" name="Provinsi"
                    th:value="*{address.postalCode.province}" />
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="city" name="city" th:value="*{address.postalCode.city}" />
                </div>
                <br>
                <h3>Pengiriman:</h3>
                <div class="col-md-12 form-group p_star">
                  <select class="country_select">
                    <option value="1">JNE</option>
                  </select>
                </div>
                <div class="col-md-12 form-group p_star">
                  <select class="country_select">
                    <option value="1">REG</option>
                  </select>
                </div>
                <div class="col-md-12 form-group p_star">
                  <input type="text" class="form-control" id="" name="" value="ongkir" />
                </div>
              </form>
            </div>
          </div>


          <a th:href="@{/payment}" class="btn_3">OK</a>

        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

    <div th:replace="customer/share/footer"></div>
    <div th:fragment="script"></div>
    <div th:replace="customer/share/script"></div>
  </body>

</html>