<!DOCTYPE html>
<html>

<head>
	<title>Phonedation | Detail Order</title>
	<style th:replace="/admin/share/style"></style>
	<style th:replace="/customer/share/style"></style>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="admin/share/header"></div>
		<div th:replace="admin/share/left-side"></div>
		<div class="content-wrapper">
			<br>
			<!--================ confirmation part start =================-->
			<section class="confirmation_part">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-lx-4">
							<div class="single_confirmation_details">
								<h4>order info</h4>
								<ul>
									<li>
										<p>ID order</p> <span th:text="${' : ' + order.id}">: 60235</span>
									</li>
									<li>
										<p>E-mail User</p> <span th:text="${' : ' + order.user.email}">: E-mail not yet</span>
									</li>
									<li>
										<p>Name User</p> <span th:text="${' : ' + order.user.fullname}">: User Not yet</span>
									</li>
									<li>
										<p>Order Date</p> <span th:text="${' : ' + order.createdOrder}">: Oct 03, 2017</span>
									</li>
									<li>
										<p>Courier</p> <span th:text="${' : ' + order.courier}">: USD 2210</span>
									</li>
									<li>
										<p>Service</p> <span th:text="${' : ' + order.service}">: Check payments</span>
									</li>
									<li>
										<p>Status</p> <span th:text="${' : ' + order.status}">: Check payments</span>
									</li>

								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-lx-4">
							<div class="single_confirmation_details">
								<h4>Billing Address</h4>
								<ul>
									<li>
										<p>Receiver's Name</p> <span th:text="${' : ' + order.address.receiverName}">: 56/8</span>
									</li>
									<li>
										<p>Phone Number</p> <span th:text="${' : ' + order.address.phoneNumber}">: Los Angeles</span>
									</li>
									<li>
										<p>Province</p> <span th:text="${' : ' + order.address.postalCode.province}">: United States</span>
									</li>
									<li>
										<p>City</p> <span th:text="${' : ' + order.address.postalCode.city}">: 36952</span>
									</li>
									<li>
										<p>Postal Code</p> <span th:text="${' : ' + order.address.postalCode.postalCode}">: 36952</span>
									</li>
									<li>
										<p>Address</p> <span th:text="${' : ' + order.address.address}">: 36952</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="order_details_iner">
								<h3>Order Details</h3>
								<table class="table table-borderless">
									<thead>
										<tr>
											<th scope="col" colspan="2">Product</th>
											<th scope="col">Quantity</th>
											<th scope="col">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="detail: ${details}">
											<th colspan="2"><span th:text="${detail.product.model}">Pixelstore fresh Blackberry</span>
												<span th:text="${detail.product.color}"></span>
											</th>
											<th th:text="${detail.quantity}">x02</th>
											<th> <span th:text="${detail.product.price}">$720.00</span></th>
										</tr>
									</tbody>
									<tr>
										<th colspan="3">shipping fee</th>
										<th><span th:text="${order.shippingFee}">flat rate: $50.00</span></th>
									</tr>
									</tbody>
									<tfoot>
										<tr>
											<th scope="col" colspan="3">Total Harga</th>
											<th scope="col" th:text="${order.totalPrice}">Sub Total</th>
										</tr>
									</tfoot>
								</table>

								<form method="POST" th:action="@{/admin/order/update}" th:object="${form}">
									<label for="exampleInputPassword1">Status</label>
									<select class="form-control select2" style="width: 100%;" name="txtBrand" th:field="*{status}">
										<option th:value="Booked">Booked</option>
										<option th:value="Process">Process</option>
										<option th:value="Shipping">Shipping</option>
										<option th:value="Done">Done</option>
									</select>
									<br><br>
									<input type="hidden" th:field="*{id}">
									<button type="submit" class="btn btn-primary">Update Status</button>
								</form>
							</div>
						</div>
					</div>
				</div>
		</div>
		</section>
		<!--================ confirmation part end =================-->
	</div>
	<div th:replace="admin/share/footer"></div>
	<div th:replace="customer/share/script"></div>
</body>

</html>