<!DOCTYPE html>
<html>

<head>
<title>Phonedation | Detail Order</title>
<style th:replace="/admin/share/style"></style>
<style th:replace="/customer/share/style"></style>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="admin/share/header"></div>
		<div th:replace="admin/share/left-side"></div>
		<div class="content-wrapper">
			<br>
			<!--================ confirmation part start =================-->
			<section class="confirmation_part">
				<div class="container" th:each="detail: ${details}">
					<div class="row">
						<div class="col-lg-6 col-lx-4">
							<div class="single_confirmation_details">
								<h4>order info</h4>
								<ul>
									<li>
										<p>ID order</p> <span th:text="${' : ' + detail.order.id}">: 60235</span>
									</li>
									<li>
										<p>E-mail User</p> <span >: E-mail not yet</span>
									</li>
									<li>
										<p>Name User</p> <span>: User Not yet</span>
									</li>
									<li>
										<p>Order Date</p> <span th:text="${' : ' + detail.order.createdOrder}">: Oct 03, 2017</span>
									</li>
									<li>
										<p>Courier</p> <span th:text="${' : ' + detail.order.courier}">: USD 2210</span>
									</li>
									<li>
										<p>Service</p> <span th:text="${' : ' + detail.order.service}">: Check payments</span>
									</li>
									<li>
										<p>Status</p> <span th:text="${' : ' + detail.order.status}">: Check payments</span>
									</li>

								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-lx-4">
							<div class="single_confirmation_details">
								<h4>Billing Address</h4>
								<ul>
									<li>
										<p>Receiver's Name</p> <span >: 56/8</span>
									</li>
									<li>
										<p>Phone Number</p> <span >: Los Angeles</span>
									</li>
									<li>
										<p>Province</p> <span>: United States</span>
									</li>
									<li>
										<p>City</p> <span>: 36952</span>
									</li>
									<li>
										<p>Postal Code</p> <span>: 36952</span>
									</li>
									<li>
										<p>Address</p> <span>: 36952</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="order_details_iner">
								<h3>Order Details</h3>
								<table class="table table-borderless">
									<thead>
										<tr>
											<th scope="col" colspan="2">Product</th>
											<th scope="col">Quantity</th>
											<th scope="col">Total</th>
										</tr>
									</thead>
									<tbody>
                <tr>
                  <th colspan="2"><span th:text="${detail.product.model}">Pixelstore fresh Blackberry</span>
                    <span th:text="${detail.product.color}"></span>
                  </th>
                  <th th:text="${detail.quantity}">x02</th>
                  <th> <span th:text="${detail.product.price}">$720.00</span></th>
                </tr>
              </tbody>
              <tr>
                <th colspan="3">shipping fee</th>
                <th><span th:text="${detail.order.shippingFee}">flat rate: $50.00</span></th>
              </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">Total Harga</th>
                  <th scope="col" th:text="${detail.order.totalPrice}">Sub Total</th>
                </tr>
              </tfoot>
								</table>
								<label for="exampleInputPassword1">Status</label> <select
									class="form-control select2" style="width: 100%;"
									name="txtBrand">
									<option>Booked</option>
									<option>Process</option>
									<option>Shipping</option>
									<option>Done</option>
								</select>
								<!-- <input type="hidden" th:field="*{id}"> -->
								<div>
									<br>
									<br>
									<button type="submit" class="btn btn-primary">Update
										Status</button>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</section>
		<!--================ confirmation part end =================-->
	</div>
	<div th:replace="admin/share/footer"></div>
	<div th:replace="customer/share/script"></div>
</body>

</html>