<!DOCTYPE html>
<html>

<head>
  <title>Phonedation | Detail Product</title>
  <style th:replace="customer/share/style"></style>
</head>

<body>

  <body>
    <div th:replace="customer/share/header"></div>
    <!--================Single Product Area =================-->
    <div class="product_image_area section_padding" th:object="${product}">
      <div class="container">
        <div class="row s_product_inner justify-content-around">
          <div>
            <img th:src="@{${'/img/' + product.image}}" alt="image product" />
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="s_product_text">
              <h3>
                <span th:text="*{model}"></span>
              </h3>
              <ul class="list">
                <li>
                  <a class="active">
                    <span>Category</span> : <span th:utext="*{brand.brand}"></span></a>
                </li>
                <li>
                  <a class="active">
                    <span>Color</span> : <span th:text="*{color}"></span></a>
                </li>
                <li>
                  <a class="active">
                    <span>Stock</span> : <span th:text="*{stock}"></span></a>
                </li>
              </ul>
              <p>

              </p>
              <h2>
                <span>Rp </span>
                <span th:text="*{price}">
              </h2>
              <span th:if="${session.USER!=null}">
                <div class="card_area d-flex justify-content-between align-items-center">
                  <div class="product_count">
                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="number-increment"> <i class="ti-plus"></i></span>
                  </div>
                  <form method="post" th:action="@{/product/{id}/addtocart/(id=${product.id})}">
                    <button type="submit" class="btn_3" th:onClick="showCart()">Add to cart</button>
                  </form>
                  <form method="post" th:action="@{/product/{id}/addtowishlist/(id=${product.id})}"
                    style="display: flex; justify-content: center">
                    <button type="submit" class="like_us"><i class="ti-heart"></i></button>
                  </form>
                </div>
              </span>
              <span th:if="${session.USER==null}">
                <p>
                  *Want to buy this product? Please login first!
                </p>
              </span>
            </div>
          </div>
        </div>
        <!--================End Single Product Area =================-->

        <!--================Product Description Area =================-->
        <section class="product_description_area " th:object="${product}">
          <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">Specification</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                  <span th:text="*{description}"></span>
                </p>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <h5>Internal Memory</h5>
                        </td>
                        <td>
                          <h5 th:text="*{internalMemory}">128mm</h5>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h5>RAM</h5>
                        </td>
                        <td>
                          <h5 th:text="*{ram}">508mm</h5>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


            </div>
          </div>
        </section>
      </div>
    </div>

    <!--================End Product Description Area =================-->

    <!-- product_list part start-->
    <!--    <section class="product_list best_seller">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section_tittle text-center">
              <h2>Product <span>Terkait</span></h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-12">
            <div class="best_product_slider_down owl-carousel">
              <div class="single_product_item">
                <img src="img/product/product_1.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="img/product/product_2.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="img/product/product_3.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="img/product/product_4.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="img/product/product_5.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- product_list part end-->


    <div th:replace="customer/share/footer"></div>
    <div th:fragment="script"></div>
    <div th:replace="customer/share/script"></div>
    <script>
      function showCart() {
        alert("Product Added to Cart !");
      }
    </script>
  </body>

</html>