<!-- banner part start-->
<section class="banner_part">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-11">
				<div class="banner_slider owl-carousel">
					<div class="single_banner_slider">
						<div class="row">
							<div class="col-lg-4 col-md-8">
								<div class="banner_text">
									<div class="banner_text_iner">
										<h1>Iphone 5s</h1>
										<p>4-inch (diagonal) LED-backlit widescreen Multi-Touch display with IPS technology.
											Availabel in spcae gray, gold, silver</p>
										<a href="#" class="btn_2">buy now</a>
									</div>
								</div>
							</div>
							<div class="banner_img d-none d-lg-block">
								<img src="/img/iPhone_5s_gold.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single_banner_slider">
						<div class="row">
							<div class="col-lg-4 col-md-8">
								<div class="banner_text">
									<div class="banner_text_iner">
										<h1>Iphone 6 Plus</h1>
										<p>5.5'' Retina HD display with Single 8MP Wide camera. Availabel in space gray, silver, and gold
										</p>
										<a href="#" class="btn_2">buy now</a>
									</div>
								</div>
							</div>
							<div class="banner_img d-none d-lg-block">
								<img src="/img/iPhone_6_plus_silver.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single_banner_slider">
						<div class="row">
							<div class="col-lg-4 col-md-8">
								<div class="banner_text">
									<div class="banner_text_iner">
										<h1>Iphone 7 Plus</h1>
										<p>5.5'' Retina HD display with Dual 12MP Wide and Telephoto cameras. Availabel in black, silver,
											gold, rose gold</p>
										<a href="#" class="btn_2">buy now</a>
									</div>
								</div>
							</div>
							<div class="banner_img d-none d-lg-block">
								<img src="/img/iPhone_7_Plus_red.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner part start-->