<div class="container" th:fragment="search">
	<form method="get" th:action="@{/search}" th:object="${form}">
		<div class="single_product_menu d-flex">
			<div class="input-group">
				<input type="text" id="search" th:field="*{keyword}" placeholder="search" aria-describedby="inputGroupPrepend">
				<div class="input-group-prepend">
					<span>
						<!-- <form method="post" th:action="@{/?keyword=black}"> -->
						<button type="submit"><i class="ti-search"></i></button>
						<!-- </form> -->
						<!-- <a th:href="@{/search}" id="search-btn"><i class="ti-search"></i></a> -->
					</span>
				</div>
			</div>
		</div>
	</form>
</div>

<div th:fragment="category">
	<aside class="left_widgets p_filter_widgets">
		<div class="l_w_title">
			<h3>Browse Categories</h3>
		</div>
		<div class="widgets_inner">
			<ul class="list">
				<li><a th:href="@{/view/product/category}">Iphone</a> <span>(15)</span></li>
				<li><a th:href="@{/view/product/category}">Samsung</a> <span>(20)</span></li>
				<li><a th:href="@{/view/product/category}">Vivo</a> <span>(5)</span></li>
				<li><a th:href="@{/view/product/category}">Oppo</a> <span>(7)</span></li>

			</ul>
		</div>
	</aside>
</div>

<div th:fragment="price">
	<p>Price</p>
	<li>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
			<label class="form-check-label" for="exampleRadios1">$10.00 -
				$11.00 (1)</label>
		</div>
	</li>
	<li>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
			<label class="form-check-label" for="exampleRadios1">$10.00 -
				$11.00 (1)</label>
		</div>
	</li>
	<li>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
			<label class="form-check-label" for="exampleRadios1">$10.00 -
				$11.00 (1)</label>
		</div>
	</li>
</div>

<div th:fragment="color">
	<p>Color</p>
	<li><input type="checkbox"> <a href="#">Black</a></li>
	<li><input type="checkbox"> <a href="#">Black Leather</a></li>
	<li><input type="checkbox"> <a href="#">Black with red</a></li>
	<li><input type="checkbox"> <a href="#">Gold</a></li>
	<li><input type="checkbox"> <a href="#">Spacegrey</a></li>
</div>

<div th:fragment="brand">
	<p>Brands</p>
	<li><input type="checkbox"> <a href="#">Apple</a></li>
	<li><input type="checkbox"> <a href="#">Asus</a></li>
	<li class="active"><input type="checkbox"> <a href="#">Gionee</a></li>
	<li><input type="checkbox"> <a href="#">Micromax</a></li>
	<li><input type="checkbox"> <a href="#">Samsung</a></li>
</div>

<div th:fragment="detail">
	<h4>
		<span th:text="${product.model}"></span>
		<span th:text="${product.color}"></span>
	</h4>
	<h3>
		<span>Rp </span>
		<span th:text="${product.price}"></span>
	</h3>
	<a th:href="@{/product/{id}/(id=${product.id})}" class="add_cart">Lihat
		Detail</a>
</div>