<!-- jquery plugins here-->
<script th:src="{@/user/js/jquery-1.12.1.min.js}"></script>
<!-- popper js -->
<script th:src="{@/user/js/popper.min.js}"></script>
<!-- bootstrap js -->
<script th:src="{@/user/js/bootstrap.min.js}"></script>
<!-- easing js -->
<script th:src="{@/user/js/jquery.magnific-popup.js}"></script>
<!-- swiper js -->
<script th:src="{@/user/js/swiper.min.js}"></script>
<!-- swiper js -->
<script th:src="{@/user/js/masonry.pkgd.js}"></script>
<!-- particles js -->
<script th:src="{@/user/js/owl.carousel.min.js}"></script>
<script th:src="{@/user/js/jquery.nice-select.min.js}"></script>
<!-- slick js -->
<script th:src="{@/user/js/slick.min.js}"></script>
<script th:src="{@/user/js/jquery.counterup.min.js}"></script>
<script th:src="{@/user/js/waypoints.min.js}"></script>
<script th:src="{@/user/js/contact.js}"></script>
<script th:src="{@/user/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="{@/user/js/jquery.form.js}"></script>
<script th:src="{@/user/js/jquery.validate.min.js}"></script>
<script th:src="{@/user/js/mail-script.js}"></script>
<script th:src="{@/user/js/stellar.js}"></script>
<script th:src="{@/user/js/price_rangs.js}"></script>
<!-- custom js -->
<script th:src="{@/user/js/custom.js}"></script>
<script th:src="{@/user/js/theme.js}"></script>

<!-- Js Plugins -->
<script th:src="{@/customer/cart/js/jquery-ui.min.js}"></script>
<script th:src="{@/customer/cart/js/jquery.countdown.min.js}"></script>
<script th:src="{@/customer/cart/js/jquery.zoom.min.js}"></script>
<script th:src="{@/customer/cart/js/jquery.slicknav.js}"></script>
<script th:src="{@/customer/cart/js/owl.carousel.min.js}"></script>
<script th:src="{@/customer/cart/js/main.js}"></script>